


body{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    margin: 0;
    padding: 0;
}

 body .e1 {
    cursor: url('img/aaaaaa.cur'), auto;
    color: #fff;
    background: linear-gradient(179.96deg, #00435C -6.38%, #0078A3 33.16%, #00A8E5 59.93%, #00B4F5 74.46%, rgba(255, 255, 255, 0) 99.28%);/*переход в белый*/
    display: flex;
    justify-content: center;
    align-items: center;
 }


p{
    margin-bottom: 25px;
}

.centered{
    text-align: center;
}

body a, .nav-link{
    text-decoration: none;
    color: #fff;
}

a:hover, a:focus {
    color:lightblue;
    outline: 0;
}

.tee {
    margin-top: 70px;
}

div .col-lg-offset-2{
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 130%;
}

.col-lg-6{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 154%;
}


.e2, .e3, .e4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


.service {
    display: flex;
    align-items: center;
}


.e3 {
    margin-top: 100px;
}

.imgfooter {
    width: 47px;
    height: 39px;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup_body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(400px + 2vw);
    height: auto;
    padding: 30px 10px;

    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    border-radius: calc(30px + 1vw);
}

.popup_close {
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
}

.popup_close img{
     width: calc(13px + 1vw);
     height: calc(13px + 1vw);
     text-align: right;
}

.popup_content{
    width: 100%;
}

.popup_form {
    width: 90%;
    font-style: normal;
    font-size: calc(10px + 0.3vw);
    line-height: 15px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 auto;
    color: #F2F2F2;

    text-shadow: 2px 3px 5px #073244;

}

input, select {
    box-sizing: border-box;
    width: 98%;
    height: 5%;

    background: rgba(238, 250, 255, 0.99);
 
    border: 2px solid transparent; 
    background: linear-gradient(180deg, #EEFAFF 0.05%, #60C3F1 99%); /*Нужный градиент в качестве фона*/
    border-bottom: 2px solid #60C3F1;
    border-top: 2px solid #EEFAFF;
    box-shadow: inset 0px 0px 0px 100vw #fff; /*Тень направленная внутрь контейнера, перекрывает ненужный фон и оставляет только рамку*/
    border-radius: 21px;

    padding: 5px 10px;
    font-size: calc(8px + 2px);
}

p.lbl {
    margin: 23px 0 7px 15px;
} 

div.dbform{
    display: flex;
    justify-content: center!important;
    font-size: 12px;
}

button.bform {
    color: #FFFFFF;
    width: 100px;
    height: 30px;
    border: 0;
    background: linear-gradient(180deg, #FF3C3C 19.58%, #9F0030 100%);
    border-radius: 35px;
}

.primech {
    font-size: 8px;
    color: rgb(240, 173, 173);
    padding: 0 15px;
    margin: 0;
}


@media (min-width: 992px){
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    flex-direction: row-reverse;
    font-size: larger;
}

.navbar {
    flex-wrap: nowrap;
}

.navbar-brand {
    margin-right: 7rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2.5rem!important;
    white-space: nowrap;
}

div .col-lg-offset-2{
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 130%;
    margin-top: 7%;
}

.br{
    display: none;
}

.butwr {
    background: linear-gradient(180deg, red 19.58%, #9F0030 100%);
    border-radius: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 145%;
    color: #fff;
    padding: 20px;
    border: 0;
}

.butzap {
    margin: 50px 0 110px 0;
}

.teeth {
    width: 448px;
    height: 524px;
    margin-left: 17%;
    margin-top: -60px;
}

.imgteeMB{
    display: none;
}

.zag {
    margin-bottom: 70px;
    border-bottom: 1px black solid;
}

.service {
    font-weight: 200;
    font-size: 25px;
    line-height: 50%;
}

.ots {
    margin-right: 320px;
}

.boxsq {
    width: 110px;
    height: 110px;
    margin-right: 50px;

    border-radius: 15px;
}

.text {
    width: 700px;
}

.odoc {
    margin-bottom: 80px;
}

.docimg img{
    width: 200px;
    height: 200px;
    margin-right: 50px;
}

.oklin {
    padding: 30px 0 0 30px;
    border-top: 1px black solid;
    border-left: 1px black solid;
    width: 1000px;
    margin-bottom: 100px;
}

.e5 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background: linear-gradient(179.96deg, #FFFFFF 0.9%, #00B2F3 32.47%, #00A8E5 55.81%, #0078A3 83.27%, #00435C 110.04%), #D9D9D9;

    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 154%;
}

.footer {
    width: 1000px;
    margin: 50px 0 10px 0;
}

}

@media (max-width: 992px){
 
    .navbar-nav{
        position: relative;
    }

    .navbar-dark .navbar-toggler {
        border: 0!important;
    }

    .navbar-dark .navbar-toggler-icon {
        width: 35px;
        height: 40px;
    }

    .container-fluid{
        justify-content: center!important;
        padding: 0;
    }

   

    .navbar-brand img{
        width: 90%;
    }

.e1 {
    width:auto; 
    max-width:100%; 
    overflow: hidden;
    padding-bottom: 30px;
}

.teeth {
    margin-top: -100px;
    width: 100%;
    height: auto;
    opacity: 0.57;
}

.tee {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 70px 0 0 0;
    padding-bottom: 70px;
}

.imgteeMB {
    width: 100%;
    padding: 0;
    margin: 0;
}

.imgteePC{
    display: none;
}

.inf {
    position: absolute;
    flex-wrap: wrap;
    margin-top: -30px;
    font-size: calc(10px + 1vw);
}

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: calc(30px + 3vw);
    line-height: 129.4%;
}

.zag {
    margin-bottom: 50px;
    border-bottom: 1px black solid;
    font-size: calc(15px + 1vw);
}

.zag2 {
    font-size: calc(15px + 1vw);
}

.butwr {
    flex-wrap: wrap;
    background: linear-gradient(180deg, red 19.58%, #9F0030 100%);
    border-radius: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: calc(10px + 1.5vw);
    line-height: 100%;
    color: #fff;
    padding: 15px;
    border: 0;
}

.butzap {
    margin: 15% 0 0 0;
}

.boxsq {
    width: calc(50px + 1vw);
    height: calc(50px + 1vw);
    margin-right: calc(20px + 2vw);

    border-radius: 15px;
}

.yslygu {
    justify-content: center;
}

.ots {
    margin-right: 60px;
    margin-left: 28px;
}

.service {
    font-weight: 100;
    font-size: calc(10px + 1vw);
    line-height: 50%;

}

.oklin {
    padding: 30px 0 0 30px;
    border-top: 1px black solid;
    border-left: 1px black solid;
    width: 80%;
    margin-bottom: 100px;
    font-size: calc(8px + 1vw);
}

h3 {
    
    font-size: calc(10px + 1vw);
}

.odoc {
    margin-bottom: 50px;
    font-size: calc(8px + 1vw);
}

.e4{
    width: 80%;
    margin: 0 auto;
}

.docimg img{
    width: calc(50px + 2vw);
    height: calc(50px + 2vw);
    margin-right: calc(20px + 1vw);
}

.e5 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-top: 50px;
    background: linear-gradient(179.96deg, #FFFFFF 0.9%, #00B2F3 32.47%, #00A8E5 55.81%, #0078A3 83.27%, #00435C 110.04%), #D9D9D9;

    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 80%;
}

}


